page-about {
    ion-select {
        font-size: 16px;
        color: #595959
    }
    form.list p {
        font-size: 14px;
    }
    input {
        font-size: 16px;
        color: #595959
    }
    ion-datetime {
        font-size: 16px;
        color: #595959
    }
}